@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;600&family=Lato:wght@100;300;400&family=Poppins:wght@500;600;700&family=Red+Hat+Display:wght@500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8eef6;
  font-family: "inter";
}

/********************
HERO
*********************/

.hero {
  text-align: center;
  position: relative;
  width: 375px;
  margin: 0 auto;
}

.hero::before {
  content: "";
  display: block;
  width: 375px;
  height: 640px;
  margin: 0 auto;
  background: linear-gradient(125deg, #fbfeff 0%, #D6E6FE 100%);
  position: absolute;
  border-radius: 0 0 35px 35px;
  z-index: -1;
}

.hero__logo {
  padding-top: 32px;
}

.hero__content {
  width: 327px;
  margin: 24px auto 48px;
}

.hero__content h1 {
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -5%;
  color: #253347;
  margin-bottom: 24px;
}

.hero__content p {
  font-size: 16px;
  line-height: 150%;
  color: #5E6E85;
}

/********************
HERO - BMI Calculator
*********************/

.bmi-calculator {
  width: 328px;
  background: #fff;
  border-radius: 16px;
  margin: 0 auto;
  padding: 24px;
}

.bmi-calculator h2 {
  text-align: left;
  font-size: 22px;
}

.form__units {
  display: flex;
  margin: 24px 0;
}

.radio {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: 16px;
  font-weight: bold;
}
.radio:first-child {
  margin-right: 24px;
}

.radio__text {
  margin-left: 18px;
  margin-right: 29px;
}

.radio__input {
  display: none;
}

.radio__button {
  width: 31px;
  height: 31px;
  border: 1px solid #d8e2e7;
  border-radius: 50%;
  padding: 8px;
}

.radio__button::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #345ff6;
  border-radius: 50%;
  opacity: 0;
}

.radio__input:checked + .radio__button::before {
  opacity: 1;
}

.radio__input:checked + .radio__button {
  border: none;
  background: #d8e2e7;
}

.input {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d8e2e7;
  border-radius: 12px;
  padding: 20px 24px;
  text-align: left;
}

.input:focus-within {
  outline: 1px solid #345ff6;
}

.input__field {
  width: 127px;
}

.input__field::-webkit-outer-spin-button,
.input__field::-webkit-inner-spin-button {
  appearance: none;
}

.input__field:focus {
  outline: none;
}


.form__inputs label:first-child {
  display: block;
  margin-bottom: 16px;
}

.form__inputs .title {
  display: block;
  text-align: left;
  font-size: 14px;
  margin-bottom: 8px;
}

.input__field {
  border: none;
}

.input,
.input__field,
.input .input__field::placeholder {
  font-size: 24px;
}

.unit {
  display: inline-block;
  color: #345ff6;
  width: 35px;
  margin-left: 60px;
  text-align: right;
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
}

.form__inputs--imperial {
  display: none;
}

.imperial-inputs {
  display: flex;
}

.imperial-inputs .input {
  width: 132px;
}

.imperial-inputs .input:first-child {
  margin-right: 16px;
}

.imperial-inputs .input__field {
  width: 40px;
}

.imperial-inputs .unit {
  margin-left: 0;
}

.results {
  width: 280px;
  height: 257px;
  background: linear-gradient(125deg, #345FF6, #587DFF);
  border-radius: 16px;
  padding: 32px;
  text-align: left;
  color: #fff;
  margin: 24px 0 0;
}

.results__welcome h3 {
  margin-bottom: 60px;
  font-size: 24px;
}

.results__welcome p {
  font-size: 14px;
  line-height: 150%;
}

.results__bmi {
  flex-wrap: wrap;
}

.results_bmi h3 {
  font-size: 16px;
  font-weight: bold;
}

.tablet-desktop {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
}

.bmi {
  font-size: 48px;
  font-weight: 700;
  margin: 8px 0 24px;
}

.range {
  font-weight: bolder;
}

/********************
MAIN
*********************/

.main {
  width: 375px;
  margin: 0 auto;
}

.your-result {
  margin: 72px 0;
  position: relative;
}

.your-result::before {
  content: "";
  width: 375px;
  height: 522px;
  background: #fff;
  display: block;
  position: absolute;
  top: 300px;
  z-index: -1;
}

.your-result img {
  width: 100%;
  margin-bottom: 48px;
}

.your-result__content {
  width: 328px;
  margin: 0 auto;
}

.your-result__content h3 {
  font-size: 32px;
  line-height: 110%;
  margin-bottom: 32px;
}

.your-result__content p {
  font-size: 16px;
  line-height: 150%;
  color: #5E6E85;
}

.tips {
  padding: 56px 20px;
}

.tip {
  margin-bottom: 40px;
}

.tip__icon {
  margin-bottom: 32px;
  width: 64px;
}

.tip__heading {
  margin-bottom: 24px;
}

.tip__content {
  font-size: 16px;
  line-height: 150%;
  color: #5E6E85;
}

.tip--last {
  margin-bottom: 0;
}

.bmi-limit {
  padding: 72px 24px 96px;
  text-align: center;
  background: linear-gradient(#fbfeff 5%, #D6E6FE 95%);
}

.bmi-limit > div > p {
  margin-bottom: 56px;
  margin-top: 32px;
  font-size: 16px;
  line-height: 150%;
  color: #5E6E85;
}

.limit__item {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.limit__item > p {
  text-align: left;
  margin-top: 16px;
  font-size: 16px;
  line-height: 150%;
  color: #5E6E85;
}

.limit__item--last {
  margin-bottom: 0;
}

.limit__item .header {
  display: flex;
}

.header__icon {
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .hero,
  .hero::before {
    width: 768px;
  }

  .hero__content {
    width: 686px;
    margin: 40px auto;
  }

  .hero__content h1 {
    width: 385px;
    margin: 0 auto 24px;
  }

  .bmi-calculator {
    width: 686px;
  }

  .form__inputs--metric > * {
    flex: 1;
  }

  .form__inputs--metric label:first-child {
    margin-right: 24px;
  }

  .form__inputs--imperial > * {
    flex-basis: 100%;
  }

  .imperial-inputs > * {
    flex: 1;
  }

  .results {
    width: 622px;
    height: 149px;
    border-radius: 16px 100px 100px 16px;
  }

  .results__welcome h3 {
    margin-bottom: 16px;
  }

  .results__bmi {
    flex-wrap: nowrap;
  }

  .results__bmi p {
    width: 268px;
    margin: 10px auto;
  }

  .your-result {
    display: flex;
    width: 841px;
    transform: translateX(-60px);
    padding-top: 20px;
  }
  
  .your-result > img {
    width: 361px;
  }

  .your-result::before {
    top: 0;
    width: 850px;
    height: 411px;
    background: rgba(255, 255, 255, 0.2);
  }

  .main {
    width: 768px;
    overflow: hidden;
  }

  .tip {
    display: flex;
  }

  .tip > img {
    margin-right: 40px;
  }

  .limit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .limit__item {
    width: 48%;
    margin-bottom: 24px;
  }

  .limit__item:nth-child(odd) {
    margin-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    width: 1440px;
    text-align: left;
  }

  .hero::before {
    width: 978px;
    height: 675px;
    margin-left: 24px;
  }

  .bmi {
    display: flex;
    align-items: flex-start;
  }

  .hero__content {
    width: 564px;
  }

  .bmi-calculator {
    width: 564px;
  }

  .hero__logo,
  .hero__content,
  .bmi-calculator {
    margin-left: 140px;
  }

  .hero__logo {
    padding-top: 75px;
  }

  .hero__content h1 {
    margin-left: 0;
  }

  .form__inputs.form__inputs--metric {
    width: 238px;
    flex-wrap: nowrap;
  }

  .input {
    width: 238px;
    height: 69px;
  }

  .results {
    width: 500px;
    height: 166px;
  }

  .unit {
    margin: 0;
  }

  .main {
    margin: 0 auto;
    width: 1440px;
  }

  .your-result__content {
    margin: 0 auto 70px;
  }

  .your-result {
    width: 1160px;
    transform: none;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
  }

  .your-result::before {
    width: 1160px;
    height: 600px;
  }

  .your-result > img {
    width: 564px;
  }

  .tips {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: auto;
  }

  .tip {
    flex-direction: column;
    width: 365px;
  }

  .bmi-limit {
    width: 1160px;
    height: 754px;
    margin: auto;
    display: flex;
    text-align: left;
    position: relative;
  }

  .bmi-limit > div > p {
    width: 564px;
  }


  .limit {
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    width: 961px;
    position: absolute;
    left: 150px;
  }

  .limit__item {
    width: 365px;
    padding: 18px;
    margin: 0;
  }

  .pregnancy {
    order: 1;
    margin-right: 31px;
  }

  .race {
    order: 2;
  }

  .age {
    order: 3;
    margin-left:200px;
    margin-bottom: 24px;
  }

  .muscle {
    order: 4;
    margin-right: 0;
    margin-left: 31px;
    margin-bottom: 24px;
  }

  .gender {
    order: 5;
    margin-left:500px;
    margin-bottom: 32px;
  }

  .limit__item:nth-child(odd) {
    margin-right: 0;
  }
}